<mat-toolbar >
    Bulk edit
</mat-toolbar>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput
               [matDatepicker]="datePicker"
               [ngModel]="date"
               (ngModelChange)="date=$event;"
               [ngModelOptions]="{updateOn: 'blur'}">
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let employee of data">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{employee.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="display: flex; gap: 12px;padding-top: 12px">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput
                           [ngModel]="employee.name"
                           (ngModelChange)="employee.name=$event;employee.dirty=true"
                           [ngModelOptions]="{updateOn: 'blur'}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rate</mat-label>
                    <input matInput
                           type="number"
                           [ngModel]="employee.hourlyRate"
                           (ngModelChange)="employee.hourlyRate=$event;employee.dirty=true"
                           [ngModelOptions]="{updateOn: 'blur'}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Overtime rate</mat-label>
                    <input matInput
                           type="number"
                           [ngModel]="employee.hourlyRateOvertime"
                           (ngModelChange)="employee.hourlyRateOvertime=$event;employee.dirty=true"
                           [ngModelOptions]="{updateOn: 'blur'}">
                </mat-form-field>
            </div>
            <div *ngFor="let shift of getShifts(employee, date); let i = index;"
                 style="display: flex; gap: 12px;padding-top: 12px">
                {{i + 1}}
                <mat-form-field>
                    <mat-label>Clock in</mat-label>
                    <input matInput
                           type="time"
                           [ngModel]="shift.clockIn | date : 'HH:mm'"
                           (ngModelChange)="inChanged(shift, $event)"
                           [ngModelOptions]="{updateOn: 'blur'}">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Clock out</mat-label>
                    <input matInput
                           type="time"
                           [ngModel]="shift.clockOut | date : 'HH:mm'"
                           (ngModelChange)="outChanged(shift, $event)"
                           [ngModelOptions]="{updateOn: 'blur'}">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
    <button mat-flat-button (click)="cancel()">
        Cancel
    </button>
    <button mat-flat-button [color]="'primary'" (click)="confirm()">
        Save
    </button>
</mat-dialog-actions>
